#cont{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    flex-direction: column;
    border-width: 20px;
    border-color:  gold;
}
#cont1{
    background-color: rgb(43, 32, 143);
    display: flex;
    align-items: center;
    width: 1000px;
    height: 150px;
}
#cont2{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 900px;
    height: 250px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;

}
#profph{
    height: 60%;
    border-color:rgb(184, 178, 172);
    margin-top: -50px;
}
h1{
    
    font-size: 50px;
}
/*h2{
    margin: 0px 0px 10px 20px;
    
}*/
h2>img{
    height: 30%;
}
.bio{
    margin-top: -20px;
    font-size: 20px;
}
.settings>img{
    height: 20%;
}
.settings{
    color: blue;
    text-decoration: underline;
}